<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.augmate.sdk.scanner" >

    <application
        android:allowBackup="true">

        <activity android:name="com.augmate.sdk.scanner.ScannerPlaceholder" />
    </application>
</manifest>
